body {
  --twitter-native: #50b7f5;
  --twitter-bg: #e6ecf0;
  --dark-bg: #000;
  font-family: Montserrat, sans-serif;
  background-color: var(--dark-bg);
}

.app {
  display: flex;
  height: 100vh; // full height scrolled
  max-width: 1024px;
  margin: 0 auto !important; // align center
  padding: 0 10px; // left-right padding
} 